src/autoyast-rnc/samba-server.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace config = "http://www.suse.com/1.0/configns"

workgroup = element workgroup { text }
accounts = element accounts {
    attribute config:type { text }?,
    element account { text }*
}


samba-server =
  element samba-server {
    accounts? &
    element backend {
	element fixme { text }*
    }? &
    element config {
	attribute config:type { text }? &
	element comment { text }? &
	element listentry {
	    element disabled { attribute config:type { text }? & text }? &
	    element name { text }? &
	    element parameters {
          element NIS_homedir                           { text }? &
          element abort_shutdown_script                 { text }? &
          element access_based_share_enum               { text }? &
          element acl_allow_execute_always              { text }? &
          element acl_check_permissions                 { text }? &
          element acl_group_control                     { text }? &
          element acl_map_full_control                  { text }? &
          element add_group_script                      { text }? &
          element add_machine_script                    { text }? &
          element add_share_command                     { text }? &
          element add_user_script                       { text }? &
          element add_user_to_group_script              { text }? &
          element addport_command                       { text }? &
          element addprinter_command                    { text }? &
          element admin_users                           { text }? &
          element administrative_share                  { text }? &
          element afs_share                             { text }? &
          element afs_token_lifetime                    { text }? &
          element afs_username_map                      { text }? &
          element aio_read_size                         { text }? &
          element aio_write_behind                      { text }? &
          element aio_write_size                        { text }? &
          element algorithmic_rid_base                  { text }? &
          element allocation_roundup_size               { text }? &
          element allow_dns_updates                     { text }? &
          element allow_insecure_wide_links             { text }? &
          element allow_trusted_domains                 { text }? &
          element async_smb_echo_handler                { text }? &
          element auth_methods                          { text }? &
          element available                             { text }? &
          element bind_interfaces_only                  { text }? &
          element block_size                            { text }? &
          element blocking_locks                        { text }? &
          element browse_list                           { text }? &
          element browseable                            { text }? &
          element cache_directory                       { text }? &
          element case_sensitive                        { text }? &
          element change_notify                         { text }? &
          element change_share_command                  { text }? &
          element check_password_script                 { text }? &
          element cldap_port                            { text }? &
          element client_NTLMv2_auth                    { text }? &
          element client_lanman_auth                    { text }? &
          element client_ldap_sasl_wrapping             { text }? &
          element client_max_protocol                   { text }? &
          element client_min_protocol                   { text }? &
          element client_plaintext_auth                 { text }? &
          element client_schannel                       { text }? &
          element client_signing                        { text }? &
          element client_use_spnego                     { text }? &
          element client_use_spnego_principal           { text }? &
          element cluster_addresses                     { text }? &
          element clustering                            { text }? &
          element comment                               { text }? &
          element config_backend                        { text }? &
          element config_file                           { text }? &
          element copy                                  { text }? &
          element create_krb5_conf                      { text }? &
          element create_mask                           { text }? &
          element csc_policy                            { text }? &
          element ctdb_locktime_warn_threshold          { text }? &
          element ctdb_timeout                          { text }? &
          element ctdbd_socket                          { text }? &
          element cups_connection_timeout               { text }? &
          element cups_encrypt                          { text }? &
          element cups_options                          { text }? &
          element cups_server                           { text }? &
          element dcerpc_endpoint_servers               { text }? &
          element deadtime                              { text }? &
          element debug_class                           { text }? &
          element debug_hires_timestamp                 { text }? &
          element debug_pid                             { text }? &
          element debug_prefix_timestamp                { text }? &
          element debug_timestamp                       { text }? &
          element debug_uid                             { text }? &
          element dedicated_keytab_file                 { text }? &
          element default_case                          { text }? &
          element default_devmode                       { text }? &
          element default_service                       { text }? &
          element defer_sharing_violations              { text }? &
          element delete_group_script                   { text }? &
          element delete_readonly                       { text }? &
          element delete_share_command                  { text }? &
          element delete_user_from_group_script         { text }? &
          element delete_user_script                    { text }? &
          element delete_veto_files                     { text }? &
          element deleteprinter_command                 { text }? &
          element dfree_cache_time                      { text }? &
          element dfree_command                         { text }? &
          element dgram_port                            { text }? &
          element directory_mask                        { text }? &
          element directory_name_cache_size             { text }? &
          element directory_security_mask               { text }? &
          element disable_netbios                       { text }? &
          element disable_spoolss                       { text }? &
          element dmapi_support                         { text }? &
          element dns_forwarder                         { text }? &
          element dns_proxy                             { text }? &
          element dns_update_command                    { text }? &
          element domain_logons                         { text }? &
          element domain_master                         { text }? &
          element dont_descend                          { text }? &
          element dos_charset                           { text }? &
          element dos_filemode                          { text }? &
          element dos_filetime_resolution               { text }? &
          element dos_filetimes                         { text }? &
          element durable_handles                       { text }? &
          element ea_support                            { text }? &
          element enable_asu_support                    { text }? &
          element enable_core_files                     { text }? &
          element enable_privileges                     { text }? &
          element enable_spoolss                        { text }? &
          element encrypt_passwords                     { text }? &
          element enhanced_browsing                     { text }? &
          element enumports_command                     { text }? &
          element eventlog_list                         { text }? &
          element fake_directory_create_times           { text }? &
          element fake_oplocks                          { text }? &
          element follow_symlinks                       { text }? &
          element force_create_mode                     { text }? &
          element force_directory_mode                  { text }? &
          element force_directory_security_mode         { text }? &
          element force_group                           { text }? &
          element force_printername                     { text }? &
          element force_security_mode                   { text }? &
          element force_unknown_acl_user                { text }? &
          element force_user                            { text }? &
          element fstype                                { text }? &
          element get_quota_command                     { text }? &
          element getwd_cache                           { text }? &
          element guest_account                         { text }? &
          element guest_ok                              { text }? &
          element guest_only                            { text }? &
          element hide_dot_files                        { text }? &
          element hide_files                            { text }? &
          element hide_special_files                    { text }? &
          element hide_unreadable                       { text }? &
          element hide_unwriteable_files                { text }? &
          element homedir_map                           { text }? &
          element host_msdfs                            { text }? &
          element hostname_lookups                      { text }? &
          element hosts_allow                           { text }? &
          element hosts_deny                            { text }? &
          element idmap_backend                         { text }? &
          element idmap_cache_time                      { text }? &
          element idmap_gid                             { text }? &
          element idmap_negative_cache_time             { text }? &
          element idmap_uid                             { text }? &
          element include                               { text }? &
          element inherit_acls                          { text }? &
          element inherit_owner                         { text }? &
          element inherit_permissions                   { text }? &
          element init_logon_delay                      { text }? &
          element init_logon_delayed_hosts              { text }? &
          element interfaces                            { text }? &
          element invalid_users                         { text }? &
          element iprint_server                         { text }? &
          element keepalive                             { text }? &
          element kerberos_method                       { text }? &
          element kernel_change_notify                  { text }? &
          element kernel_oplocks                        { text }? &
          element kernel_share_modes                    { text }? &
          element kpasswd_port                          { text }? &
          element krb5_port                             { text }? &
          element lanman_auth                           { text }? &
          element large_readwrite                       { text }? &
          element ldap_admin_dn                         { text }? &
          element ldap_connection_timeout               { text }? &
          element ldap_debug_level                      { text }? &
          element ldap_debug_threshold                  { text }? &
          element ldap_delete_dn                        { text }? &
          element ldap_deref                            { text }? &
          element ldap_follow_referral                  { text }? &
          element ldap_group_suffix                     { text }? &
          element ldap_idmap_suffix                     { text }? &
          element ldap_machine_suffix                   { text }? &
          element ldap_page_size                        { text }? &
          element ldap_passwd_sync                      { text }? &
          element ldap_replication_sleep                { text }? &
          element ldap_ssl                              { text }? &
          element ldap_ssl_ads                          { text }? &
          element ldap_suffix                           { text }? &
          element ldap_timeout                          { text }? &
          element ldap_user_suffix                      { text }? &
          element level2_oplocks                        { text }? &
          element lm_announce                           { text }? &
          element lm_interval                           { text }? &
          element load_printers                         { text }? &
          element local_master                          { text }? &
          element lock_directory                        { text }? &
          element lock_spin_time                        { text }? &
          element locking                               { text }? &
          element log_file                              { text }? &
          element log_level                             { text }? &
          element log_nt_token_command                  { text }? &
          element log_writeable_files_on_exit           { text }? &
          element logon_drive                           { text }? &
          element logon_home                            { text }? &
          element logon_path                            { text }? &
          element logon_script                          { text }? &
          element lppause_command                       { text }? &
          element lpq_cache_time                        { text }? &
          element lpq_command                           { text }? &
          element lpresume_command                      { text }? &
          element lprm_command                          { text }? &
          element machine_password_timeout              { text }? &
          element magic_output                          { text }? &
          element magic_script                          { text }? &
          element mangle_prefix                         { text }? &
          element mangled_names                         { text }? &
          element mangling_char                         { text }? &
          element mangling_method                       { text }? &
          element map_acl_inherit                       { text }? &
          element map_archive                           { text }? &
          element map_hidden                            { text }? &
          element map_readonly                          { text }? &
          element map_system                            { text }? &
          element map_to_guest                          { text }? &
          element map_untrusted_to_domain               { text }? &
          element max_connections                       { text }? &
          element max_disk_size                         { text }? &
          element max_log_size                          { text }? &
          element max_mux                               { text }? &
          element max_open_files                        { text }? &
          element max_print_jobs                        { text }? &
          element max_reported_print_jobs               { text }? &
          element max_smbd_processes                    { text }? &
          element max_stat_cache_size                   { text }? &
          element max_ttl                               { text }? &
          element max_wins_ttl                          { text }? &
          element max_xmit                              { text }? &
          element message_command                       { text }? &
          element min_print_space                       { text }? &
          element min_receivefile_size                  { text }? &
          element min_wins_ttl                          { text }? &
          element msdfs_proxy                           { text }? &
          element msdfs_root                            { text }? &
          element multicast_dns_register                { text }? &
          element name_cache_timeout                    { text }? &
          element name_resolve_order                    { text }? &
          element nbt_client_socket_address             { text }? &
          element nbt_port                              { text }? &
          element ncalrpc_dir                           { text }? &
          element netbios_aliases                       { text }? &
          element netbios_name                          { text }? &
          element netbios_scope                         { text }? &
          element nmbd_bind_explicit_broadcast          { text }? &
          element nsupdate_command                      { text }? &
          element nt_acl_support                        { text }? &
          element nt_pipe_support                       { text }? &
          element nt_status_support                     { text }? &
          element ntlm_auth                             { text }? &
          element ntp_signd_socket_directory            { text }? &
          element ntvfs_handler                         { text }? &
          element null_passwords                        { text }? &
          element obey_pam_restrictions                 { text }? &
          element only_user                             { text }? &
          element oplock_break_wait_time                { text }? &
          element oplock_contention_limit               { text }? &
          element oplocks                               { text }? &
          element os2_driver_map                        { text }? &
          element os_level                              { text }? &
          element pam_password_change                   { text }? &
          element panic_action                          { text }? &
          element passdb_backend                        { text }? &
          element passdb_expand_explicit                { text }? &
          element passwd_chat                           { text }? &
          element passwd_chat_debug                     { text }? &
          element passwd_chat_timeout                   { text }? &
          element passwd_program                        { text }? &
          element password_server                       { text }? &
          element path                                  { text }? &
          element perfcount_module                      { text }? &
          element pid_directory                         { text }? &
          element posix_locking                         { text }? &
          element postexec                              { text }? &
          element preexec                               { text }? &
          element preexec_close                         { text }? &
          element preferred_master                      { text }? &
          element preload                               { text }? &
          element preload_modules                       { text }? &
          element preserve_case                         { text }? &
          element print_command                         { text }? &
          element print_notify_backchannel              { text }? &
          element printable                             { text }? &
          element printcap_cache_time                   { text }? &
          element printcap_name                         { text }? &
          element printer_name                          { text }? &
          element printing                              { text }? &
          element printjob_username                     { text }? &
          element private_dir                           { text }? &
          element profile_acls                          { text }? &
          element queuepause_command                    { text }? &
          element queueresume_command                   { text }? &
          element read_list                             { text }? &
          element read_only                             { text }? &
          element read_raw                              { text }? &
          element realm                                 { text }? &
          element registry_shares                       { text }? &
          element remote_announce                       { text }? &
          element remote_browse_sync                    { text }? &
          element rename_user_script                    { text }? &
          element reset_on_zero_vc                      { text }? &
          element restrict_anonymous                    { text }? &
          element rndc_command                          { text }? &
          element root_directory                        { text }? &
          element root_postexec                         { text }? &
          element root_preexec                          { text }? &
          element root_preexec_close                    { text }? &
          element rpc_big_endian                        { text }? &
          element samba_kcc_command                     { text }? &
          element security                              { text }? &
          element security_mask                         { text }? &
          element server_max_protocol                   { text }? &
          element server_min_protocol                   { text }? &
          element server_role                           { text }? &
          element server_schannel                       { text }? &
          element server_services                       { text }? &
          element server_signing                        { text }? &
          element server_string                         { text }? &
          element set_primary_group_script              { text }? &
          element set_quota_command                     { text }? &
          element share_backend                         { text }? &
          element short_preserve_case                   { text }? &
          element show_add_printer_wizard               { text }? &
          element shutdown_script                       { text }? &
          element smb2_max_credits                      { text }? &
          element smb2_max_read                         { text }? &
          element smb2_max_trans                        { text }? &
          element smb2_max_write                        { text }? &
          element smb_encrypt                           { text }? &
          element smb_passwd_file                       { text }? &
          element smb_ports                             { text }? &
          element socket_options                        { text }? &
          element spn_update_command                    { text }? &
          element stat_cache                            { text }? &
          element state_directory                       { text }? &
          element store_dos_attributes                  { text }? &
          element strict_allocate                       { text }? &
          element strict_locking                        { text }? &
          element strict_sync                           { text }? &
          element svcctl_list                           { text }? &
          element sync_always                           { text }? &
          element syslog                                { text }? &
          element syslog_only                           { text }? &
          element template_homedir                      { text }? &
          element template_shell                        { text }? &
          element time_server                           { text }? &
          element tls_cafile                            { text }? &
          element tls_certfile                          { text }? &
          element tls_crlfile                           { text }? &
          element tls_dh_params_file                    { text }? &
          element tls_enabled                           { text }? &
          element tls_keyfile                           { text }? &
          element unicode                               { text }? &
          element unix_charset                          { text }? &
          element unix_extensions                       { text }? &
          element unix_password_sync                    { text }? &
          element use_client_driver                     { text }? &
          element use_mmap                              { text }? &
          element use_ntdb                              { text }? &
          element use_sendfile                          { text }? &
          element use_spnego                            { text }? &
          element username                              { text }? &
          element username_level                        { text }? &
          element username_map                          { text }? &
          element username_map_cache_time               { text }? &
          element username_map_script                   { text }? &
          element usershare_allow_guests                { text }? &
          element usershare_max_shares                  { text }? &
          element usershare_owner_only                  { text }? &
          element usershare_path                        { text }? &
          element usershare_prefix_allow_list           { text }? &
          element usershare_prefix_deny_list            { text }? &
          element usershare_template_share              { text }? &
          element utmp                                  { text }? &
          element utmp_directory                        { text }? &
          element valid_users                           { text }? &
          element veto_files                            { text }? &
          element veto_oplock_files                     { text }? &
          element vfs_objects                           { text }? &
          element volume                                { text }? &
          element web_port                              { text }? &
          element wide_links                            { text }? &
          element winbind_cache_time                    { text }? &
          element winbind_enum_groups                   { text }? &
          element winbind_enum_users                    { text }? &
          element winbind_expand_groups                 { text }? &
          element winbind_max_clients                   { text }? &
          element winbind_max_domain_connections        { text }? &
          element winbind_nested_groups                 { text }? &
          element winbind_normalize_names               { text }? &
          element winbind_nss_info                      { text }? &
          element winbind_offline_logon                 { text }? &
          element winbind_reconnect_delay               { text }? &
          element winbind_refresh_tickets               { text }? &
          element winbind_request_timeout               { text }? &
          element winbind_rpc_only                      { text }? &
          element winbind_sealed_pipes                  { text }? &
          element winbind_separator                     { text }? &
          element winbind_trusted_domains_only          { text }? &
          element winbind_use_default_domain            { text }? &
          element winbindd_privileged_socket_directory  { text }? &
          element winbindd_socket_directory             { text }? &
          element wins_hook                             { text }? &
          element wins_proxy                            { text }? &
          element wins_server                           { text }? &
          element wins_support                          { text }? &
          element workgroup                             { text }? &
          element write_cache_size                      { text }? &
          element write_list                            { text }? &
          element write_raw                             { text }? &
          element writeable                             { text }? &
          element wtmp_directory                        { text }?
	    }?
	}*
    }? &
    samba-client? &
    role? &
    element service { text }? &
    shares? &
    element trustdom {
	element fixme { text }*
    }? &
    trusteddomains? &
    version?
  }
role = element role { text }
version = element version { text }
shares =
  element shares {
    LIST,
    share*
  }
trusteddomains =
  element trusteddomains {
    trusteddomain*
  }
trusteddomain = element trusteddomain { trusteddomain_domain, trusteddomain_password }
trusteddomain_domain   = element domain { text }
trusteddomain_password = element password { text }
y2_share = samba_options | share
samba_options = element options {
    element option { samba_option_key, samba_option_val? }*
}
share = element share { (text | y2_share)* }
samba_option_key = element key { text }
samba_option_val = element value { text }
