src/autoyast-rnc/samba-server.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace config = "http://www.suse.com/1.0/configns"

include "common.rnc"

workgroup = element workgroup { STRING }
accounts = element accounts {
    attribute config:type { text }?,
    element account { STRING }*
}


samba-server =
  element samba-server {
    MAP,
    (
      accounts? &
      element backend {
        element fixme { STRING }*
      }? &
      element config {
        attribute config:type { text }? &
        element comment { STRING }? &
        element listentry {
          MAP,
          (
            element disabled { attribute config:type { text }? & STRING }? &
            element name { STRING }? &
            element comment { STRING }? &
            element parameters {
              MAP,
              (
                element NIS_homedir                           { STRING }? &
                element abort_shutdown_script                 { STRING }? &
                element access_based_share_enum               { STRING }? &
                element acl_allow_execute_always              { STRING }? &
                element acl_check_permissions                 { STRING }? &
                element acl_group_control                     { STRING }? &
                element acl_map_full_control                  { STRING }? &
                element add_group_script                      { STRING }? &
                element add_machine_script                    { STRING }? &
                element add_share_command                     { STRING }? &
                element add_user_script                       { STRING }? &
                element add_user_to_group_script              { STRING }? &
                element addport_command                       { STRING }? &
                element addprinter_command                    { STRING }? &
                element admin_users                           { STRING }? &
                element administrative_share                  { STRING }? &
                element afs_share                             { STRING }? &
                element afs_token_lifetime                    { STRING }? &
                element afs_username_map                      { STRING }? &
                element aio_read_size                         { STRING }? &
                element aio_write_behind                      { STRING }? &
                element aio_write_size                        { STRING }? &
                element algorithmic_rid_base                  { STRING }? &
                element allocation_roundup_size               { STRING }? &
                element allow_dns_updates                     { STRING }? &
                element allow_insecure_wide_links             { STRING }? &
                element allow_trusted_domains                 { STRING }? &
                element async_smb_echo_handler                { STRING }? &
                element auth_methods                          { STRING }? &
                element available                             { STRING }? &
                element bind_interfaces_only                  { STRING }? &
                element block_size                            { STRING }? &
                element blocking_locks                        { STRING }? &
                element browse_list                           { STRING }? &
                element browseable                            { STRING }? &
                element cache_directory                       { STRING }? &
                element case_sensitive                        { STRING }? &
                element change_notify                         { STRING }? &
                element change_share_command                  { STRING }? &
                element check_password_script                 { STRING }? &
                element cldap_port                            { STRING }? &
                element client_NTLMv2_auth                    { STRING }? &
                element client_lanman_auth                    { STRING }? &
                element client_ldap_sasl_wrapping             { STRING }? &
                element client_max_protocol                   { STRING }? &
                element client_min_protocol                   { STRING }? &
                element client_plaintext_auth                 { STRING }? &
                element client_schannel                       { STRING }? &
                element client_signing                        { STRING }? &
                element client_use_spnego                     { STRING }? &
                element client_use_spnego_principal           { STRING }? &
                element cluster_addresses                     { STRING }? &
                element clustering                            { STRING }? &
                element comment                               { STRING }? &
                element config_backend                        { STRING }? &
                element config_file                           { STRING }? &
                element copy                                  { STRING }? &
                element create_krb5_conf                      { STRING }? &
                element create_mask                           { STRING }? &
                element csc_policy                            { STRING }? &
                element ctdb_locktime_warn_threshold          { STRING }? &
                element ctdb_timeout                          { STRING }? &
                element ctdbd_socket                          { STRING }? &
                element cups_connection_timeout               { STRING }? &
                element cups_encrypt                          { STRING }? &
                element cups_options                          { STRING }? &
                element cups_server                           { STRING }? &
                element dcerpc_endpoint_servers               { STRING }? &
                element deadtime                              { STRING }? &
                element debug_class                           { STRING }? &
                element debug_hires_timestamp                 { STRING }? &
                element debug_pid                             { STRING }? &
                element debug_prefix_timestamp                { STRING }? &
                element debug_timestamp                       { STRING }? &
                element debug_uid                             { STRING }? &
                element dedicated_keytab_file                 { STRING }? &
                element default_case                          { STRING }? &
                element default_devmode                       { STRING }? &
                element default_service                       { STRING }? &
                element defer_sharing_violations              { STRING }? &
                element delete_group_script                   { STRING }? &
                element delete_readonly                       { STRING }? &
                element delete_share_command                  { STRING }? &
                element delete_user_from_group_script         { STRING }? &
                element delete_user_script                    { STRING }? &
                element delete_veto_files                     { STRING }? &
                element deleteprinter_command                 { STRING }? &
                element dfree_cache_time                      { STRING }? &
                element dfree_command                         { STRING }? &
                element dgram_port                            { STRING }? &
                element directory_mask                        { STRING }? &
                element directory_name_cache_size             { STRING }? &
                element directory_security_mask               { STRING }? &
                element disable_netbios                       { STRING }? &
                element disable_spoolss                       { STRING }? &
                element dmapi_support                         { STRING }? &
                element dns_forwarder                         { STRING }? &
                element dns_proxy                             { STRING }? &
                element dns_update_command                    { STRING }? &
                element domain_logons                         { STRING }? &
                element domain_master                         { STRING }? &
                element dont_descend                          { STRING }? &
                element dos_charset                           { STRING }? &
                element dos_filemode                          { STRING }? &
                element dos_filetime_resolution               { STRING }? &
                element dos_filetimes                         { STRING }? &
                element durable_handles                       { STRING }? &
                element ea_support                            { STRING }? &
                element enable_asu_support                    { STRING }? &
                element enable_core_files                     { STRING }? &
                element enable_privileges                     { STRING }? &
                element enable_spoolss                        { STRING }? &
                element encrypt_passwords                     { STRING }? &
                element enhanced_browsing                     { STRING }? &
                element enumports_command                     { STRING }? &
                element eventlog_list                         { STRING }? &
                element fake_directory_create_times           { STRING }? &
                element fake_oplocks                          { STRING }? &
                element follow_symlinks                       { STRING }? &
                element force_create_mode                     { STRING }? &
                element force_directory_mode                  { STRING }? &
                element force_directory_security_mode         { STRING }? &
                element force_group                           { STRING }? &
                element force_printername                     { STRING }? &
                element force_security_mode                   { STRING }? &
                element force_unknown_acl_user                { STRING }? &
                element force_user                            { STRING }? &
                element fstype                                { STRING }? &
                element get_quota_command                     { STRING }? &
                element getwd_cache                           { STRING }? &
                element guest_account                         { STRING }? &
                element guest_ok                              { STRING }? &
                element guest_only                            { STRING }? &
                element hide_dot_files                        { STRING }? &
                element hide_files                            { STRING }? &
                element hide_special_files                    { STRING }? &
                element hide_unreadable                       { STRING }? &
                element hide_unwriteable_files                { STRING }? &
                element homedir_map                           { STRING }? &
                element host_msdfs                            { STRING }? &
                element hostname_lookups                      { STRING }? &
                element hosts_allow                           { STRING }? &
                element hosts_deny                            { STRING }? &
                element idmap_backend                         { STRING }? &
                element idmap_cache_time                      { STRING }? &
                element idmap_gid                             { STRING }? &
                element idmap_negative_cache_time             { STRING }? &
                element idmap_uid                             { STRING }? &
                element include                               { STRING }? &
                element inherit_acls                          { STRING }? &
                element inherit_owner                         { STRING }? &
                element inherit_permissions                   { STRING }? &
                element init_logon_delay                      { STRING }? &
                element init_logon_delayed_hosts              { STRING }? &
                element interfaces                            { STRING }? &
                element invalid_users                         { STRING }? &
                element iprint_server                         { STRING }? &
                element keepalive                             { STRING }? &
                element kerberos_method                       { STRING }? &
                element kernel_change_notify                  { STRING }? &
                element kernel_oplocks                        { STRING }? &
                element kernel_share_modes                    { STRING }? &
                element kpasswd_port                          { STRING }? &
                element krb5_port                             { STRING }? &
                element lanman_auth                           { STRING }? &
                element large_readwrite                       { STRING }? &
                element ldap_admin_dn                         { STRING }? &
                element ldap_connection_timeout               { STRING }? &
                element ldap_debug_level                      { STRING }? &
                element ldap_debug_threshold                  { STRING }? &
                element ldap_delete_dn                        { STRING }? &
                element ldap_deref                            { STRING }? &
                element ldap_follow_referral                  { STRING }? &
                element ldap_group_suffix                     { STRING }? &
                element ldap_idmap_suffix                     { STRING }? &
                element ldap_machine_suffix                   { STRING }? &
                element ldap_page_size                        { STRING }? &
                element ldap_passwd_sync                      { STRING }? &
                element ldap_replication_sleep                { STRING }? &
                element ldap_ssl                              { STRING }? &
                element ldap_ssl_ads                          { STRING }? &
                element ldap_suffix                           { STRING }? &
                element ldap_timeout                          { STRING }? &
                element ldap_user_suffix                      { STRING }? &
                element level2_oplocks                        { STRING }? &
                element lm_announce                           { STRING }? &
                element lm_interval                           { STRING }? &
                element load_printers                         { STRING }? &
                element local_master                          { STRING }? &
                element lock_directory                        { STRING }? &
                element lock_spin_time                        { STRING }? &
                element locking                               { STRING }? &
                element log_file                              { STRING }? &
                element log_level                             { STRING }? &
                element log_nt_token_command                  { STRING }? &
                element log_writeable_files_on_exit           { STRING }? &
                element logon_drive                           { STRING }? &
                element logon_home                            { STRING }? &
                element logon_path                            { STRING }? &
                element logon_script                          { STRING }? &
                element lppause_command                       { STRING }? &
                element lpq_cache_time                        { STRING }? &
                element lpq_command                           { STRING }? &
                element lpresume_command                      { STRING }? &
                element lprm_command                          { STRING }? &
                element machine_password_timeout              { STRING }? &
                element magic_output                          { STRING }? &
                element magic_script                          { STRING }? &
                element mangle_prefix                         { STRING }? &
                element mangled_names                         { STRING }? &
                element mangling_char                         { STRING }? &
                element mangling_method                       { STRING }? &
                element map_acl_inherit                       { STRING }? &
                element map_archive                           { STRING }? &
                element map_hidden                            { STRING }? &
                element map_readonly                          { STRING }? &
                element map_system                            { STRING }? &
                element map_to_guest                          { STRING }? &
                element map_untrusted_to_domain               { STRING }? &
                element max_connections                       { STRING }? &
                element max_disk_size                         { STRING }? &
                element max_log_size                          { STRING }? &
                element max_mux                               { STRING }? &
                element max_open_files                        { STRING }? &
                element max_print_jobs                        { STRING }? &
                element max_reported_print_jobs               { STRING }? &
                element max_smbd_processes                    { STRING }? &
                element max_stat_cache_size                   { STRING }? &
                element max_ttl                               { STRING }? &
                element max_wins_ttl                          { STRING }? &
                element max_xmit                              { STRING }? &
                element message_command                       { STRING }? &
                element min_print_space                       { STRING }? &
                element min_receivefile_size                  { STRING }? &
                element min_wins_ttl                          { STRING }? &
                element msdfs_proxy                           { STRING }? &
                element msdfs_root                            { STRING }? &
                element multicast_dns_register                { STRING }? &
                element name_cache_timeout                    { STRING }? &
                element name_resolve_order                    { STRING }? &
                element nbt_client_socket_address             { STRING }? &
                element nbt_port                              { STRING }? &
                element ncalrpc_dir                           { STRING }? &
                element netbios_aliases                       { STRING }? &
                element netbios_name                          { STRING }? &
                element netbios_scope                         { STRING }? &
                element nmbd_bind_explicit_broadcast          { STRING }? &
                element nsupdate_command                      { STRING }? &
                element nt_acl_support                        { STRING }? &
                element nt_pipe_support                       { STRING }? &
                element nt_status_support                     { STRING }? &
                element ntlm_auth                             { STRING }? &
                element ntp_signd_socket_directory            { STRING }? &
                element ntvfs_handler                         { STRING }? &
                element null_passwords                        { STRING }? &
                element obey_pam_restrictions                 { STRING }? &
                element only_user                             { STRING }? &
                element oplock_break_wait_time                { STRING }? &
                element oplock_contention_limit               { STRING }? &
                element oplocks                               { STRING }? &
                element os2_driver_map                        { STRING }? &
                element os_level                              { STRING }? &
                element pam_password_change                   { STRING }? &
                element panic_action                          { STRING }? &
                element passdb_backend                        { STRING }? &
                element passdb_expand_explicit                { STRING }? &
                element passwd_chat                           { STRING }? &
                element passwd_chat_debug                     { STRING }? &
                element passwd_chat_timeout                   { STRING }? &
                element passwd_program                        { STRING }? &
                element password_server                       { STRING }? &
                element path                                  { STRING }? &
                element perfcount_module                      { STRING }? &
                element pid_directory                         { STRING }? &
                element posix_locking                         { STRING }? &
                element postexec                              { STRING }? &
                element preexec                               { STRING }? &
                element preexec_close                         { STRING }? &
                element preferred_master                      { STRING }? &
                element preload                               { STRING }? &
                element preload_modules                       { STRING }? &
                element preserve_case                         { STRING }? &
                element print_command                         { STRING }? &
                element print_notify_backchannel              { STRING }? &
                element printable                             { STRING }? &
                element printcap_cache_time                   { STRING }? &
                element printcap_name                         { STRING }? &
                element printer_name                          { STRING }? &
                element printing                              { STRING }? &
                element printjob_username                     { STRING }? &
                element private_dir                           { STRING }? &
                element profile_acls                          { STRING }? &
                element queuepause_command                    { STRING }? &
                element queueresume_command                   { STRING }? &
                element read_list                             { STRING }? &
                element read_only                             { STRING }? &
                element read_raw                              { STRING }? &
                element realm                                 { STRING }? &
                element registry_shares                       { STRING }? &
                element remote_announce                       { STRING }? &
                element remote_browse_sync                    { STRING }? &
                element rename_user_script                    { STRING }? &
                element reset_on_zero_vc                      { STRING }? &
                element restrict_anonymous                    { STRING }? &
                element rndc_command                          { STRING }? &
                element root_directory                        { STRING }? &
                element root_postexec                         { STRING }? &
                element root_preexec                          { STRING }? &
                element root_preexec_close                    { STRING }? &
                element rpc_big_endian                        { STRING }? &
                element samba_kcc_command                     { STRING }? &
                element security                              { STRING }? &
                element security_mask                         { STRING }? &
                element server_max_protocol                   { STRING }? &
                element server_min_protocol                   { STRING }? &
                element server_role                           { STRING }? &
                element server_schannel                       { STRING }? &
                element server_services                       { STRING }? &
                element server_signing                        { STRING }? &
                element server_string                         { STRING }? &
                element set_primary_group_script              { STRING }? &
                element set_quota_command                     { STRING }? &
                element share_backend                         { STRING }? &
                element short_preserve_case                   { STRING }? &
                element show_add_printer_wizard               { STRING }? &
                element shutdown_script                       { STRING }? &
                element smb2_max_credits                      { STRING }? &
                element smb2_max_read                         { STRING }? &
                element smb2_max_trans                        { STRING }? &
                element smb2_max_write                        { STRING }? &
                element smb_encrypt                           { STRING }? &
                element smb_passwd_file                       { STRING }? &
                element smb_ports                             { STRING }? &
                element socket_options                        { STRING }? &
                element spn_update_command                    { STRING }? &
                element stat_cache                            { STRING }? &
                element state_directory                       { STRING }? &
                element store_dos_attributes                  { STRING }? &
                element strict_allocate                       { STRING }? &
                element strict_locking                        { STRING }? &
                element strict_sync                           { STRING }? &
                element svcctl_list                           { STRING }? &
                element sync_always                           { STRING }? &
                element syslog                                { STRING }? &
                element syslog_only                           { STRING }? &
                element template_homedir                      { STRING }? &
                element template_shell                        { STRING }? &
                element time_server                           { STRING }? &
                element tls_cafile                            { STRING }? &
                element tls_certfile                          { STRING }? &
                element tls_crlfile                           { STRING }? &
                element tls_dh_params_file                    { STRING }? &
                element tls_enabled                           { STRING }? &
                element tls_keyfile                           { STRING }? &
                element unicode                               { STRING }? &
                element unix_charset                          { STRING }? &
                element unix_extensions                       { STRING }? &
                element unix_password_sync                    { STRING }? &
                element use_client_driver                     { STRING }? &
                element use_mmap                              { STRING }? &
                element use_ntdb                              { STRING }? &
                element use_sendfile                          { STRING }? &
                element use_spnego                            { STRING }? &
                element username                              { STRING }? &
                element username_level                        { STRING }? &
                element username_map                          { STRING }? &
                element username_map_cache_time               { STRING }? &
                element username_map_script                   { STRING }? &
                element usershare_allow_guests                { STRING }? &
                element usershare_max_shares                  { STRING }? &
                element usershare_owner_only                  { STRING }? &
                element usershare_path                        { STRING }? &
                element usershare_prefix_allow_list           { STRING }? &
                element usershare_prefix_deny_list            { STRING }? &
                element usershare_template_share              { STRING }? &
                element utmp                                  { STRING }? &
                element utmp_directory                        { STRING }? &
                element valid_users                           { STRING }? &
                element veto_files                            { STRING }? &
                element veto_oplock_files                     { STRING }? &
                element vfs_objects                           { STRING }? &
                element volume                                { STRING }? &
                element web_port                              { STRING }? &
                element wide_links                            { STRING }? &
                element winbind_cache_time                    { STRING }? &
                element winbind_enum_groups                   { STRING }? &
                element winbind_enum_users                    { STRING }? &
                element winbind_expand_groups                 { STRING }? &
                element winbind_max_clients                   { STRING }? &
                element winbind_max_domain_connections        { STRING }? &
                element winbind_nested_groups                 { STRING }? &
                element winbind_normalize_names               { STRING }? &
                element winbind_nss_info                      { STRING }? &
                element winbind_offline_logon                 { STRING }? &
                element winbind_reconnect_delay               { STRING }? &
                element winbind_refresh_tickets               { STRING }? &
                element winbind_request_timeout               { STRING }? &
                element winbind_rpc_only                      { STRING }? &
                element winbind_sealed_pipes                  { STRING }? &
                element winbind_separator                     { STRING }? &
                element winbind_trusted_domains_only          { STRING }? &
                element winbind_use_default_domain            { STRING }? &
                element winbindd_privileged_socket_directory  { STRING }? &
                element winbindd_socket_directory             { STRING }? &
                element wins_hook                             { STRING }? &
                element wins_proxy                            { STRING }? &
                element wins_server                           { STRING }? &
                element wins_support                          { STRING }? &
                element workgroup                             { STRING }? &
                element write_cache_size                      { STRING }? &
                element write_list                            { STRING }? &
                element write_raw                             { STRING }? &
                element writeable                             { STRING }? &
                element wtmp_directory                        { STRING }?
              )
            }?
          )
        }*
      }? &
      samba-client? &
      role? &
      element service { STRING }? &
      shares? &
      element trustdom {
        MAP,
        element fixme { STRING }*
      }? &
      trusteddomains? &
      version?
    )
  }
role = element role { STRING }
version = element version { STRING }
shares =
  element shares {
    LIST,
    share*
  }
trusteddomains =
  element trusteddomains {
    trusteddomain*
  }
trusteddomain = element trusteddomain { MAP, trusteddomain_domain, trusteddomain_password }
trusteddomain_domain   = element domain { STRING }
trusteddomain_password = element password { STRING }
y2_share = samba_options | share
samba_options = element options {
  MAP,
  element option { MAP, samba_option_key, samba_option_val? }*
}
share = element share { (STRING | y2_share)* }
samba_option_key = element key { STRING }
samba_option_val = element value { STRING }
